
.intro {
    width: 100%;
    height: 100vh;
background: url("../img/Rectangle\ 3.jpg") center no-repeat ;
background-size: cover;
}
.header{
 font-size: 3em;
 color: seashell;
 
}
.header_inner{
display: flex;
justify-content: space-between;    
}

.menu { 
display: flex;
list-style-type:none; 
margin-right: auto;  
}
.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
    color: seashell;

}

.menu li {
    margin-right: 40px;
     
}
.nav{
    display: flex;
}
.home-info {
    color: seashell;
    width: 50%;
    flex-direction: column;
    text-align: left;
    margin-left: 10%;
    margin-top: 8%;
}
.modal {
    width: 100%;
    height: 100%;
}
.modal-form {
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 177, 116);
    color:rgba(0, 0, 0, 0.993);
    width: 20em;
    height: auto;
    padding: 2%;
    border-radius: 5px;
}
.modal-form h2 {
    margin-bottom: 10%;
}
.modal-form-input {
    margin-bottom: 7%;
    height: 3em;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.checkbox input {
    margin-right: 15px;
}
.form-btn {
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    padding: 15px 0;
    cursor: pointer;
}
.services-container{
    margin: 1% 7% 5% 7%;
}
h3 {
    font-size: 2em;
    margin-bottom: 5%;
}
.services-icons {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.icon {
    width: 150px;
}
.icon p {
    text-align: center;
    margin-top: 20%;
}
.our-story-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(199, 177, 116);
    color: white;
    padding: 1% 10%;
}
.our-story-btn {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    margin: 20px 10px;
    width: 20%;
    height: 40px;
    cursor: pointer;
    color: white;

}
.pricing-container {
    padding: 2% 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(185, 144, 67);
} 
.pricing {
    text-align: center;
}
.pricing-cards {
    display: flex;
    justify-content: space-between;
}
.card {
    background-color: white;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2% 5% 0 5%;
    height: auto;
    position: relative;
}


.price-div {
    margin: 15% 0%;
}
.price {
    font-size: 2em;
    font-weight: bold;
    color:red;
}
.price-btn {
    width: 90%;
    margin-top: 20%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(212, 212, 135);
    padding: 8px 10px;
}
.gallery-container {
    display: flex;
    margin-left: 10%;
    margin-top: 8%;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 5%;
}
.testimonial h2 {
    text-align: center;
}
.testimonial-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
}
.testimonial-item img {
    box-shadow: 0px -4px 10px -4px rgb(50, 50, 50, 0.5);
}
.testimonial-item-info {
    border-radius: 5px;
    padding: 15px;
    width: 80%;
}
.testimonial-item-info-author {
    margin-top: 5%;
}
.author2-photo {
    margin-left: -5%;
    margin-top: 3%;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-items {
    margin-top: 5%;
    display: flex;
    justify-content: start;
}
.pic1 {
    width: 280px;
    height: 200px;
    margin-left: 15%;
}
.pic2 {
    width: 200px;
    height: 130px;
    margin-left: -13%;
    margin-top: 10%;
}
.pic3 {
    width: 260px;
    height: 180px;
    margin-top: -3%;
    margin-left: -8%;
}
.pic4 {
    width: 240px;
    height: 160px;
    margin-left: -20%;
    margin-top: 11%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 61);
    height: 8em;
    padding: 0 10%;
    color: white;
}
.footer-logo {
    font-size: 3em;
}