body { display: flex; height: 100vh; }
#calculator { 
    margin: auto; 
    padding: 20px;
    background: silver;
    border-radius: 10px;
}
#display, button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font: bold 3em Impact;
    outline: none;
}
#display {
    width: 460px;
    text-align: right;
}